html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

.opened .container {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.paranja {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.opened .paranja {
    display: block;
}

.popup {
    width: 80%;
    height: 80%;
    background-color: white;
    padding: 42px;
    opacity: 0;
    transform-origin: left top;
    transform: scale(.1);
    position: absolute;
    transition: top 1s, left 1s, transform 1s, opacity 1s;
    transition-timing-function: ease-in;
}

.opened.popup {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    top: 50% !important;
    left: 50% !important;
}

.ss {
    border: 2px solid green;
}